<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title  Layout</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="jumbotron">
        <div class="container-fluid" align="center">
            <h1 class="text-info" style="font-family:'Times New Roman'; font-weight:bold; font-size:100px">Knowledge Sharing</h1>
            <br />
            <div class="text-muted" style="font-size:20px">Welcome to Knowledge Sharing, here you can share things with your friends!</div>
            <br />
            <br />
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - CS561 Knowledge Sharing</p>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
